<% provide(:title, @user.name) %>
<div>
	<aside>
		<section>
			<h1>
				<!--<%= gravatar_for @user %>-->
				<%= gravatar_for @user, size: 40 %>
				<!--<%= gravatar_for @user, :size => 40 %>-->
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
